<nav class="navbar header-top fixed-top navbar-expand-lg" [@isCollapsed]="isCollapsed">
    <a class="navbar-brand" href="/">Catch PATCO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
      <span class="fa fa-bars fa-lg hamburger" [hidden]="!isCollapsed" ></span>
      <span class="fa fa-times fa-lg hamburger" [hidden]="isCollapsed" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed" >
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="/next">Next Time

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search for Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all">Get All Times</a>
        </li>
      </ul>
    </div>
</nav>

<div class="router container-fluid">
  <router-outlet></router-outlet>
</div>